apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv_item }}
spec:
  capacity:
    storage: {{ required_pv.value.capacity }}Gi 
  accessModes:
    - ReadWriteOnce 
  persistentVolumeReclaimPolicy: Recycle
  nfs: 
    path: {{ base_nfs_dir }}/{{ mobile_nfs_dir }}/{{ pv_item }}
    server: {{ inventory_hostname }}
    readOnly: false